*.o
*.lo
*.la
*.html
.deps
.libs

Makefile
config.h
config.log
config.status
doc/Makefile
eb.conf
eb/Makefile
eb/build-post.h
eb/stamp-build-post-h
eb/stamp-sysdefs-h
eb/sysdefs.h
ebappendix/Makefile
ebappendix/ebappendix
ebfont/Makefile
ebfont/ebfont
ebinfo/Makefile
ebinfo/ebinfo
ebrefile/Makefile
ebrefile/ebrefile
ebstopcode/Makefile
ebstopcode/ebstopcode
ebzip/Makefile
ebzip/ebzip
libebutils/Makefile
libebutils/ebutils.h
libebutils/libebutils.a
libebutils/stamp-ebutils-h
libtool
m4/Makefile
po-eb/Makefile
po-ebutils/Makefile
samples/Makefile
stamp-h1
/.vs
/CMakeFiles
/eb/eb.dir
/x64
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/cmake_install.cmake
/CMakeCache.txt
/eb/CMakeFiles
/eb/cmake_install.cmake
/eb/eb.vcxproj
/eb/eb.vcxproj.filters
/epwing.sln
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/eb/Debug
